@import "compass/reset";
*{
    margin: 0;
    padding: 0;
}
#toubu{
    width: 990px;
    height: 94px;
    margin: auto;
    margin-top: 50px;
    position: relative;
}
.logosc{
    float: left;
    margin-top: 18px;
    margin-right: 10px;
}
.tbtp{
    border-right: 1px solid #ccc;
    width: 130px;
    height: 60px;
}
.logodwza{
    width: 197px;
}
.tbyc{
    width: 600px;
    position: absolute;
    right: 0;
    top: 0px;
    height: 94px;
}
.ljzca{
    color: #cccccc;
    line-height: 94px;
    height: 14px;
}
.ljzca:hover{
    color: #cc0000;
}
a{
    text-decoration: none;
    color: #ccc;
}

#dlmk{
    width: 988px;
    height: 350px;
    margin: auto;
    margin-top: 26px;
    border: 1px solid #ccc;
}
.dltp{
    float: left;
}
.dlwz{
    width: 290px;
    height: 57px;
    float: right;
    font-size: 26px;
    margin-right:80px;
    margin-top: 20px;
}
.dlys{
    width: 290px;    float: right;
    margin-right: 88px;
}
.inp1{
    width: 290px;
    height: 40px;
    border: 1px solid #ccc;
    margin-bottom: 8px;
}
.inp2{
    width: 290px;
    height: 40px;
    border: 1px solid #ccc;
}
.inp{
    display: block;
    width: 278px;
    height: 22px;
    margin-top: 8px;
    border: none;
    outline:none;
    margin-left: 4px;
}
.wjmm{
    margin-top: 20px;
}
.sjdt{
    float: left;
}
.wjmma{
    float: right;
}
.sjdt:hover{
    color: orange;
    cursor: pointer;
}
.mmaa:hover{
    color: orange;
}
.dlan{
    width: 290px;
    height: 40px;
    background: #cc0000;
    border: #cc0000;
    color: white;
    font-size: 20px;
    border-radius: 3px;
    margin-top: 15px;
    outline:none;
}
.dlan:hover{
    cursor: pointer;
    background: #940505;
}







#zcdb{
    width: 100%;
    border-top: 1px solid #ccc;
    height: 55px;
    margin-top: 50px;
    position: fixed;
    bottom: 0;
}
.zcdbzj{
    width: 990px;
    height: 55px;
    margin: auto;
    margin-top: 10px;
}
.zjdzb{
    float: left;
}
.zjdyb{
    float: right;
    color: #666;
}
.dbwza{
    color: #666666;
}
.dbwza:hover{
    color: #cc0000;
}