@import "compass/css3";

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    background: #f6f6f6;
}

#zd {
    width: 100%;
    height: 139px;
    background: white;
    margin: auto;
}

.zds {
    width: 1200px;
    height: 98px;
    margin: auto;
    position: relative;
}

.zds img {
    position: absolute;
    top: 30%;
}
.ssk {
    width: 573px;
    height: 66px;
    margin: 0 auto ;
    position: absolute;
    top: 20%;
    left: 30%;
}
.sskbk{
    height: 30px;
    border: solid 3px #b20000;
    border-radius:5px;
}
.sskkj{
    height: 20px;
    border: none;
    margin-left: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
    float: left;
    width: 400px;
    outline:none
}
.ssss{
    float: right;
    width: 114px;
    height: 33px;
    background: #b20000;
}
.ssssa{
    line-height: 30px;
    color: white;
    margin-left:30px;
    font-size: 24px;
}

.sskxma{
    float: left;
}
.sskwz{
    color: #666;
    margin-right: 6px;
    font-size: 12px;
}
.sskwz:hover{
    color: #c00;
}

.zdx {
    width: 1200px;
    height: 40px;
    border-top: 1px solid #ccc; 
    margin: auto;
}
.sydh{
    width: 410px;
    height: 100%;
    float: left;
}
.zhucedenglu {
    width: 125px;
    height: 100%;
    float: right;
    margin-right: 10px;
}

a {
    text-decoration: none;
}
.aqt:hover{
    color: #f74b44;
}
.asy {
    color: #f74b44;
    margin-right: 32px;
    line-height: 40px;
    font-size: 20px;
}
.aqt {
    line-height: 40px;
    margin-right: 32px;
    color: #333;
    font-size: 20px;
}
.zhuce {
    width: 50px;
    color: #f74b44;
    font-size: 14px;
    line-height: 40px;
}
.denglu {
    width: 49px;
    color: #333;
    font-size: 14px;
    margin-left: 25px;
    line-height: 40px;
}


#daohangtu {
    width: 1200px;
    height: 377px;
    background: red;
    margin: auto;
    margin-top: 10px;
}

.daohang {
    width: 190px;
    height: 100%;
    background: white;
    border-right: 1px solid #ccc;
    float: left;
}
.rmfl{
    display: inline-block;
    width: 100%;
    font-size: 18px;
    text-indent: 12px;
    margin-top: 8px;
}
.rmfldh{
    margin-top: 8px;
    margin-left: 12px;
}
.rmda{
    color: #333;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    margin: 7px 0;
}
.rmda:hover{
    color: #c00;
}
em {
    border-left: 1px solid #ccc;
    margin-left: 10px;
    margin-right: 14px;
}
.rmdh{
    display: inline-block;
    width: 100%;
    font-size: 18px;
    text-indent: -2px;
    margin-top: 28px;
}
.rmdhdh{
    margin-top: 10px;
}
.rmdhda{
    color: #333;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    margin: 12px 0;
    margin-right: 24px;
}
.rmdhda:hover {
    color: #c00;
}
.lunbotu {
    width: 1009px;
    height: 100%;
    background: green;
    float: right;
}


#dgw {
    width: 1200px;
    margin: auto;
    margin-top: 10px;
    display: flex;
}

.dgw-z {
    width: 890px;
}

.dgw-z-s {
    width: 890px;
    height: 334px;
    background: white;
    position: relative;
}

.jrqg{
    width: 850px;
    height: 22px;
    position: absolute;
    top: 20px;
    left: 20px;
}
.jrqgtp{
    width: 96px;
    height: 22px;
}
.dgw-z-z {
    width: 890px;
    height: 281px;
    background: white;
    margin-top: 10px;
    position: relative;
}
.hmzj{
    width: 850px;
    height: 22px;
    position: absolute;
    top: 20px;
    left: 20px;
}
.hmzjtp{
    width: 96px;
    height: 22px;
}

.dgw-z-x {
    width: 890px;
    height: 175px;
    background: orange;
    margin-top: 10px;
}

.dgw-y {
    width: 300px;
    margin-left: 10px;
}

.dgw-y-s {
    width: 100%;
    height: 320px;
    background: orchid;
}

.dgw-y-z {
    width: 100%;
    height: 423px;
    background: darkgoldenrod;
    margin-top: 10px;
}
.rmtg{
    width: 100%;
    padding: 20px;
}
.dgw-y-x {
    width: 100%;
    height: 320px;
    background: khaki;
    margin-top: 10px;
}

#db {
    width: 100%;
    height: 40px;
    background: black;

}

.dbl {
    width: 1200px;
    height: 40px;
    margin: auto;
}
.zgcdb{
    font-size: 12px;
    color: #ccc;
    line-height: 40px;
}
.dbwz{
    float: right;
}
.dbwzz{
    font-size: 12px;
    color: #ccc;
    line-height: 40px;
}

#ggc {
    background: #fff;
    position: fixed;
    right: 10px;
    top: 40%;
}