/* line 5, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 2, ../sass/dengluyemian.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 6, ../sass/dengluyemian.scss */
#toubu {
  width: 990px;
  height: 94px;
  margin: auto;
  margin-top: 50px;
  position: relative;
}

/* line 13, ../sass/dengluyemian.scss */
.logosc {
  float: left;
  margin-top: 18px;
  margin-right: 10px;
}

/* line 18, ../sass/dengluyemian.scss */
.tbtp {
  border-right: 1px solid #ccc;
  width: 130px;
  height: 60px;
}

/* line 23, ../sass/dengluyemian.scss */
.logodwza {
  width: 197px;
}

/* line 26, ../sass/dengluyemian.scss */
.tbyc {
  width: 600px;
  position: absolute;
  right: 0;
  top: 0px;
  height: 94px;
}

/* line 33, ../sass/dengluyemian.scss */
.ljzca {
  color: #cccccc;
  line-height: 94px;
  height: 14px;
}

/* line 38, ../sass/dengluyemian.scss */
.ljzca:hover {
  color: #cc0000;
}

/* line 41, ../sass/dengluyemian.scss */
a {
  text-decoration: none;
  color: #ccc;
}

/* line 46, ../sass/dengluyemian.scss */
#dlmk {
  width: 988px;
  height: 350px;
  margin: auto;
  margin-top: 26px;
  border: 1px solid #ccc;
}

/* line 53, ../sass/dengluyemian.scss */
.dltp {
  float: left;
}

/* line 56, ../sass/dengluyemian.scss */
.dlwz {
  width: 290px;
  height: 57px;
  float: right;
  font-size: 26px;
  margin-right: 80px;
  margin-top: 20px;
}

/* line 64, ../sass/dengluyemian.scss */
.dlys {
  width: 290px;
  float: right;
  margin-right: 88px;
}

/* line 68, ../sass/dengluyemian.scss */
.inp1 {
  width: 290px;
  height: 40px;
  border: 1px solid #ccc;
  margin-bottom: 8px;
}

/* line 74, ../sass/dengluyemian.scss */
.inp2 {
  width: 290px;
  height: 40px;
  border: 1px solid #ccc;
}

/* line 79, ../sass/dengluyemian.scss */
.inp {
  display: block;
  width: 278px;
  height: 22px;
  margin-top: 8px;
  border: none;
  outline: none;
  margin-left: 4px;
}

/* line 88, ../sass/dengluyemian.scss */
.wjmm {
  margin-top: 20px;
}

/* line 91, ../sass/dengluyemian.scss */
.sjdt {
  float: left;
}

/* line 94, ../sass/dengluyemian.scss */
.wjmma {
  float: right;
}

/* line 97, ../sass/dengluyemian.scss */
.sjdt:hover {
  color: orange;
  cursor: pointer;
}

/* line 101, ../sass/dengluyemian.scss */
.mmaa:hover {
  color: orange;
}

/* line 104, ../sass/dengluyemian.scss */
.dlan {
  width: 290px;
  height: 40px;
  background: #cc0000;
  border: #cc0000;
  color: white;
  font-size: 20px;
  border-radius: 3px;
  margin-top: 15px;
  outline: none;
}

/* line 115, ../sass/dengluyemian.scss */
.dlan:hover {
  cursor: pointer;
  background: #940505;
}

/* line 126, ../sass/dengluyemian.scss */
#zcdb {
  width: 100%;
  border-top: 1px solid #ccc;
  height: 55px;
  margin-top: 50px;
  position: fixed;
  bottom: 0;
}

/* line 134, ../sass/dengluyemian.scss */
.zcdbzj {
  width: 990px;
  height: 55px;
  margin: auto;
  margin-top: 10px;
}

/* line 140, ../sass/dengluyemian.scss */
.zjdzb {
  float: left;
}

/* line 143, ../sass/dengluyemian.scss */
.zjdyb {
  float: right;
  color: #666;
}

/* line 147, ../sass/dengluyemian.scss */
.dbwza {
  color: #666666;
}

/* line 150, ../sass/dengluyemian.scss */
.dbwza:hover {
  color: #cc0000;
}
