/* line 3, ../sass/zgc.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 8, ../sass/zgc.scss */
body {
  width: 100%;
  height: 100%;
  background: #f6f6f6;
}

/* line 14, ../sass/zgc.scss */
#zd {
  width: 100%;
  height: 139px;
  background: white;
  margin: auto;
}

/* line 21, ../sass/zgc.scss */
.zds {
  width: 1200px;
  height: 98px;
  margin: auto;
  position: relative;
}

/* line 28, ../sass/zgc.scss */
.zds img {
  position: absolute;
  top: 30%;
}

/* line 32, ../sass/zgc.scss */
.ssk {
  width: 573px;
  height: 66px;
  margin: 0 auto;
  position: absolute;
  top: 20%;
  left: 30%;
}

/* line 40, ../sass/zgc.scss */
.sskbk {
  height: 30px;
  border: solid 3px #b20000;
  border-radius: 5px;
}

/* line 45, ../sass/zgc.scss */
.sskkj {
  height: 20px;
  border: none;
  margin-left: 5px;
  margin-bottom: 10px;
  margin-top: 5px;
  float: left;
  width: 400px;
  outline: none;
}

/* line 55, ../sass/zgc.scss */
.ssss {
  float: right;
  width: 114px;
  height: 33px;
  background: #b20000;
}

/* line 61, ../sass/zgc.scss */
.ssssa {
  line-height: 30px;
  color: white;
  margin-left: 30px;
  font-size: 24px;
}

/* line 68, ../sass/zgc.scss */
.sskxma {
  float: left;
}

/* line 71, ../sass/zgc.scss */
.sskwz {
  color: #666;
  margin-right: 6px;
  font-size: 12px;
}

/* line 76, ../sass/zgc.scss */
.sskwz:hover {
  color: #c00;
}

/* line 80, ../sass/zgc.scss */
.zdx {
  width: 1200px;
  height: 40px;
  border-top: 1px solid #ccc;
  margin: auto;
}

/* line 86, ../sass/zgc.scss */
.sydh {
  width: 410px;
  height: 100%;
  float: left;
}

/* line 91, ../sass/zgc.scss */
.zhucedenglu {
  width: 125px;
  height: 100%;
  float: right;
  margin-right: 10px;
}

/* line 98, ../sass/zgc.scss */
a {
  text-decoration: none;
}

/* line 101, ../sass/zgc.scss */
.aqt:hover {
  color: #f74b44;
}

/* line 104, ../sass/zgc.scss */
.asy {
  color: #f74b44;
  margin-right: 32px;
  line-height: 40px;
  font-size: 20px;
}

/* line 110, ../sass/zgc.scss */
.aqt {
  line-height: 40px;
  margin-right: 32px;
  color: #333;
  font-size: 20px;
}

/* line 116, ../sass/zgc.scss */
.zhuce {
  width: 50px;
  color: #f74b44;
  font-size: 14px;
  line-height: 40px;
}

/* line 122, ../sass/zgc.scss */
.denglu {
  width: 49px;
  color: #333;
  font-size: 14px;
  margin-left: 25px;
  line-height: 40px;
}

/* line 131, ../sass/zgc.scss */
#daohangtu {
  width: 1200px;
  height: 377px;
  background: red;
  margin: auto;
  margin-top: 10px;
}

/* line 139, ../sass/zgc.scss */
.daohang {
  width: 190px;
  height: 100%;
  background: white;
  border-right: 1px solid #ccc;
  float: left;
}

/* line 146, ../sass/zgc.scss */
.rmfl {
  display: inline-block;
  width: 100%;
  font-size: 18px;
  text-indent: 12px;
  margin-top: 8px;
}

/* line 153, ../sass/zgc.scss */
.rmfldh {
  margin-top: 8px;
  margin-left: 12px;
}

/* line 157, ../sass/zgc.scss */
.rmda {
  color: #333;
  display: inline-block;
  height: 14px;
  line-height: 14px;
  margin: 7px 0;
}

/* line 164, ../sass/zgc.scss */
.rmda:hover {
  color: #c00;
}

/* line 167, ../sass/zgc.scss */
em {
  border-left: 1px solid #ccc;
  margin-left: 10px;
  margin-right: 14px;
}

/* line 172, ../sass/zgc.scss */
.rmdh {
  display: inline-block;
  width: 100%;
  font-size: 18px;
  text-indent: -2px;
  margin-top: 28px;
}

/* line 179, ../sass/zgc.scss */
.rmdhdh {
  margin-top: 10px;
}

/* line 182, ../sass/zgc.scss */
.rmdhda {
  color: #333;
  display: inline-block;
  height: 14px;
  line-height: 14px;
  margin: 12px 0;
  margin-right: 24px;
}

/* line 190, ../sass/zgc.scss */
.rmdhda:hover {
  color: #c00;
}

/* line 193, ../sass/zgc.scss */
.lunbotu {
  width: 1009px;
  height: 100%;
  background: green;
  float: right;
}

/* line 201, ../sass/zgc.scss */
#dgw {
  width: 1200px;
  margin: auto;
  margin-top: 10px;
  display: flex;
}

/* line 208, ../sass/zgc.scss */
.dgw-z {
  width: 890px;
}

/* line 212, ../sass/zgc.scss */
.dgw-z-s {
  width: 890px;
  height: 334px;
  background: white;
  position: relative;
}

/* line 219, ../sass/zgc.scss */
.jrqg {
  width: 850px;
  height: 22px;
  position: absolute;
  top: 20px;
  left: 20px;
}

/* line 226, ../sass/zgc.scss */
.jrqgtp {
  width: 96px;
  height: 22px;
}

/* line 230, ../sass/zgc.scss */
.dgw-z-z {
  width: 890px;
  height: 281px;
  background: white;
  margin-top: 10px;
  position: relative;
}

/* line 237, ../sass/zgc.scss */
.hmzj {
  width: 850px;
  height: 22px;
  position: absolute;
  top: 20px;
  left: 20px;
}

/* line 244, ../sass/zgc.scss */
.hmzjtp {
  width: 96px;
  height: 22px;
}

/* line 249, ../sass/zgc.scss */
.dgw-z-x {
  width: 890px;
  height: 175px;
  background: orange;
  margin-top: 10px;
}

/* line 256, ../sass/zgc.scss */
.dgw-y {
  width: 300px;
  margin-left: 10px;
}

/* line 261, ../sass/zgc.scss */
.dgw-y-s {
  width: 100%;
  height: 320px;
  background: orchid;
}

/* line 267, ../sass/zgc.scss */
.dgw-y-z {
  width: 100%;
  height: 423px;
  background: darkgoldenrod;
  margin-top: 10px;
}

/* line 273, ../sass/zgc.scss */
.rmtg {
  width: 100%;
  padding: 20px;
}

/* line 277, ../sass/zgc.scss */
.dgw-y-x {
  width: 100%;
  height: 320px;
  background: khaki;
  margin-top: 10px;
}

/* line 284, ../sass/zgc.scss */
#db {
  width: 100%;
  height: 40px;
  background: black;
}

/* line 291, ../sass/zgc.scss */
.dbl {
  width: 1200px;
  height: 40px;
  margin: auto;
}

/* line 296, ../sass/zgc.scss */
.zgcdb {
  font-size: 12px;
  color: #ccc;
  line-height: 40px;
}

/* line 301, ../sass/zgc.scss */
.dbwz {
  float: right;
}

/* line 304, ../sass/zgc.scss */
.dbwzz {
  font-size: 12px;
  color: #ccc;
  line-height: 40px;
}

/* line 310, ../sass/zgc.scss */
#ggc {
  background: #fff;
  position: fixed;
  right: 10px;
  top: 40%;
}
