/* line 1, ../sass/zhuceyemian.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 6, ../sass/zhuceyemian.scss */
body {
  width: 100%;
  height: 100%;
}

/* line 10, ../sass/zhuceyemian.scss */
#toubu {
  width: 990px;
  height: 94px;
  margin: auto;
  margin-top: 50px;
  position: relative;
}

/* line 17, ../sass/zhuceyemian.scss */
.logosc {
  float: left;
  margin-top: 18px;
  margin-right: 10px;
}

/* line 22, ../sass/zhuceyemian.scss */
.tbtp {
  border-right: 1px solid #ccc;
  width: 130px;
  height: 60px;
}

/* line 27, ../sass/zhuceyemian.scss */
.logodwza {
  width: 197px;
}

/* line 30, ../sass/zhuceyemian.scss */
.tbyc {
  width: 600px;
  position: absolute;
  right: 0;
  top: 0px;
  height: 94px;
}

/* line 37, ../sass/zhuceyemian.scss */
.ljdla {
  color: #cccccc;
  line-height: 94px;
  height: 14px;
}

/* line 42, ../sass/zhuceyemian.scss */
.ljdla:hover {
  color: #cc0000;
}

/* line 45, ../sass/zhuceyemian.scss */
a {
  text-decoration: none;
  color: #ccc;
}

/* line 50, ../sass/zhuceyemian.scss */
#neibu {
  width: 990px;
  height: 768px;
  border: 1px solid #ccc;
  margin: auto;
}

/* line 57, ../sass/zhuceyemian.scss */
.nbtb {
  width: 990px;
  height: 60px;
  background: #fafafa;
}

/* line 62, ../sass/zhuceyemian.scss */
.sj {
  width: 502px;
  height: 40px;
  margin-left: 89px;
  margin-top: 30px;
}

/* line 68, ../sass/zhuceyemian.scss */
.sjz {
  float: left;
  width: 250px;
  height: 40px;
  border-left: solid 1px #ccc;
  border-top: solid 2px #cc0000;
  border-right: solid 1px #ccc;
  position: relative;
}

/* line 77, ../sass/zhuceyemian.scss */
.sjznr {
  margin-left: 55px;
  margin-top: 10px;
}

/* line 81, ../sass/zhuceyemian.scss */
.xsjtp {
  width: 14px;
  height: 24px;
}

/* line 85, ../sass/zhuceyemian.scss */
.xsjwz {
  position: absolute;
  top: 8px;
  left: 80px;
}

/* line 90, ../sass/zhuceyemian.scss */
.sjy {
  float: right;
  width: 250px;
  height: 40px;
  border-bottom: solid 1px #ccc;
}

/* line 96, ../sass/zhuceyemian.scss */
.bdzc {
  width: 500px;
  margin-top: 30px;
  margin-left: 89px;
}

/* line 101, ../sass/zhuceyemian.scss */
.bdzcn {
  font-size: 14px;
}

/* line 104, ../sass/zhuceyemian.scss */
.inp {
  width: 290px;
  height: 40px;
  margin-top: 30px;
}

/* line 110, ../sass/zhuceyemian.scss */
#zcdb {
  width: 100%;
  border-top: 1px solid #ccc;
  height: 150px;
  margin-top: 50px;
}

/* line 116, ../sass/zhuceyemian.scss */
.zcdbzj {
  width: 990px;
  height: 100%;
  margin: auto;
  margin-top: 10px;
}

/* line 122, ../sass/zhuceyemian.scss */
.zjdzb {
  float: left;
}

/* line 125, ../sass/zhuceyemian.scss */
.zjdyb {
  float: right;
  color: #666;
}

/* line 129, ../sass/zhuceyemian.scss */
.dbwza {
  color: #666666;
}

/* line 132, ../sass/zhuceyemian.scss */
.dbwza:hover {
  color: #cc0000;
}
